<div class="logo-div">
    <a href="/home">
        <i class="las la-rocket"></i>
        <h1>Spacelaxy</h1>
    </a>
</div>

<div class="main">
    <div class="main-card">
          <div class="main-text">
              <h1>Manage your tasks and increase your productivity</h1>
          </div>
          <div class="main-btn">
              <button class="btn-primary"><a href="/user/register">Start Now</a></button>
          </div>
    </div>
</div>