.main {
    position: absolute;
    top: calc((100% - 45%) / 2);
    left: calc((100% - 40%) / 2);
    height: 45%;
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.main .main-text h1 {
    font-size: 5rem;
}

.main a {
    background-color: #106efd;
    padding: 1rem;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}

.main .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2rem;
}